/* You can add global styles to this file, and also import other style files */
body{
    background-color: black;
    color: white;
}
body {
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default margin */
  }
 
  